<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mh4db"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DescriptActivity"
            android:label="@string/title_activity_descript"
            android:parentActivityName=".MonsterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mh4db.MonsterActivity" />
        </activity>
        <activity
            android:name=".MonsterActivity"
            android:label="@string/title_activity_monster"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mh4db.MainActivity" />
        </activity>
        <activity
            android:name=".ItemActivity"
            android:label="@string/title_activity_item"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mh4db.MainActivity" />
        </activity>
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_activity_item_detail"
            android:parentActivityName=".ItemActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mh4db.ItemActivity" />
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mh4db.MainActivity" />
        </activity>
        <!--
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map_activity2"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mh4db.MainActivity" />
        </activity>
        -->
        <activity
            android:name=".MapDetailActivity"
            android:label="@string/title_activity_map_detail"
            android:parentActivityName=".MapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mh4db.MapActivity" />
        </activity>
        <activity
            android:name=".WeaponActivity"
            android:label="@string/title_activity_weapon" >
        </activity>
        <activity
            android:name=".WeaponTypeActivity"
            android:label="@string/title_activity_weapon_type" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mh4db.WeaponActivity" />
        </activity>
    </application>

</manifest>